style(type="text/css")
    .
        :root {
            --color-h: #{colors.h};
            --color-border: #{colors.border};
            --color-border-light: #{colors.border_light};
            --color-border-muted: #{colors.border_muted};
            --color-main-background: #{colors.main_background};
            --color-outer-background: #{colors.outer_background};
        }
<link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet" type="text/css" />
<link href="https://fonts.googleapis.com/css?family=Droid+Sans&display=swap" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="#{baseUrl}assets/styles.css">