header
    h1=modName + ' - ' + bookName

div(class="languages")
    ul
        each lang in languages
            li
                a(href=lang.url) !{lang.name}

div(class="breadcrumbs")
    ul
        each val in breadcrumbs
            if val.url
                li
                    a(href=val.url) !{val.name}
            else
                li !{val.name}