div(class="page-controls")
    if previousPage
        a(href=previousPage.url, class="previous") !{previousPage.name}
    if nextPage
        a(href=nextPage.url, class="next") !{nextPage.name}

if root
    div(class="root-info")
        p This is the Web-version of the <strong>#{bookName}</strong> book, which is part of the <a href="!{modUrl}"><strong>#{modName}</strong></a> mod for Minecraft.
        p All information in this Web book is based on the default configuration of this mod, and may be different from ingame experience depending on your configuration.
        p This Web book was generated with the following mods:
        ul
            each mod in mods
                li=mod