doctype html
html(lang=language)
    head
        title=mainTitle + ' - ' + sectionTitle
    body
        h1=sectionTitle
        ul
        each val in subSectionDatas
            li
                a(href=val.url) !{val.sectionTitle}
