doctype html
html(lang=language)
    head
        include includes/head.pug
        title=mainTitle + ' - ' + sectionTitle
    body
        include includes/header.pug
        h1=sectionTitle
        ul
        each val in subSectionDatas
            li
                a(href=val.url) !{val.sectionTitle}
