doctype html
html(lang=language)
    head
        include includes/head.pug
        title=mainTitle + ' - ' + sectionTitle
    body
        include includes/header.pug

        div(class="main-outer")
            section(class="main")
                h2=sectionTitle
                ul
                each val in subSectionDatas
                    li
                        a(href=val.url) !{val.sectionTitle}
                include includes/main-footer.pug

        include includes/footer.pug
