mixin icon
    img(src=icon, alt=name, title=name, class="item-icon")
div(class=(slot ? "item item-slot" : "item"))
    if link
        a(href=link, target=linkTarget)
            +icon
    else
        +icon
    if count !== 1
        span(class="item-count")=amount