mixin icon
    img(src=icon, alt=name, title=name, class="item-icon")
- var itemUrl = (linkTarget ? link : ('#' + name.replace(/ /g, '_')) )
div(class=(slot ? "item item-slot" : "item"), typeof=itemUrl)
    meta(about=itemUrl, property="schema:gameItem", resource=modUrl)
    meta(about=itemUrl, property="schema:name", content=name)
    meta(about=itemUrl, property="schema:image", resource=icon)
    if link
        a(href=link, target=linkTarget)
            +icon
    else
        +icon
    if annotation
        span(class="item-annotation")
            .
                !{annotation}
    if count !== 1
        span(class="item-count", property="schema:amount", datatype="xsd:integer")=count